<footer>
  <nav class="navbar navbar-expand-lg bg-dark fixed-bottom">
    <div class="container-fluid justify-content-center">
      <ul class="nav fs">
        <li class="nav-item">
          <%= link_to '利用規約', terms_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to 'プライバシーポリシー', privacy_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to 'お問い合わせ', contact_path, class: "nav-link text-white" %>
        </li>
      </ul>
    </div>
  </nav>
</footer>
