<div class="container justify-content-center text-center">
  <div class="h3">お問い合わせ</div>
  <div class="text-start">
    <div>本サイトに関するご意見・ご要望、不具合の報告等ございましたら 以下のTwitterアカウントまでDMやリプライにてご連絡ください。</div>
  </div>
  <div class='mt-5'>
    <%= link_to 'https://twitter.com/mokosu755', class: 'btn btn-info fs-4 fw-bold', target: '_blank', rel: 'noopener noreferrer' do %>
      <div style="color: white;">
        <i class="fa-brands fa-twitter"></i>
        @Kosuke
      </div>
    <% end %>
  </div>
</div>
