<div class="container justify-content-center text-center">
  <div class="my-5 pt-5">
    <%= image_tag "warigam_header.png", size: '300x80'%>
  </div>

  <div class="pb-5">- ギャンブルを楽しむ割り勘サービス -</div>

  <div class="h4 pt-5">覚悟はできてる？</div>


  <div class="my-4">
    <%= link_to image_tag("btn_login_base.png"), user_line_omniauth_authorize_path, method: :post %>
  </div>

  <div class="mb-3">
    <%= link_to '使い方', tutorial_path %>
  </div>
</div>
