<div class="container justify-content-center text-center">
  <div class="h3">プライバシーポリシー</div>
  <div class="text-start">
    <div>本ウェブサイトの管理者（以下，「管理者」といいます。）は，本ウェブサイト上で提供するサービス（以下,「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。</div>

    <div class="h4 mt-4">第1条（ユーザーから取得する情報）</div>
    <div>
      <ol>
        <li class="mb-2">氏名(ニックネームやペンネームも含む)</li>
        <li class="mb-2">性別</li>
        <li class="mb-2">メールアドレス</li>
        <li class="mb-2">写真や動画</li>
        <li class="mb-2">外部サービスでユーザーが利用するID、その他外部サービスのプライバシー設定によりユーザーが連携先に開示を認めた情報</li>
        <li class="mb-2">Cookie(クッキー)を用いて生成された識別情報</li>
        <li class="mb-2">OSが生成するID、端末の種類、端末識別子等のユーザーが利用するOSや端末に関する情報</li>
        <li class="mb-2">ウェブサイトの滞在時間、入力履歴等のウェブサイトにおけるユーザーの行動履歴</li>
        <li class="mb-2">アプリの起動時間、入力履歴等のアプリの利用履歴</li>
      </ol>
    </div>

    <div class="h4 mt-4">第2条（ユーザーの情報を利用する目的）</div>
    <div>
      <ol>
        <li class="mb-2">本サービスに関する登録の受付、ユーザーの本人確認、認証のため</li>
        <li class="mb-2">ユーザーの本サービスの利用履歴を管理するため</li>
        <li class="mb-2">本サービスにおけるユーザーの行動履歴を分析し、本サービスの維持改善に役立てるため</li>
        <li class="mb-2">市場分析、マーケティングのため</li>
        <li class="mb-2">本サービスに関するご案内をするため</li>
        <li class="mb-2">ユーザーからのお問い合わせに対応するため</li>
        <li class="mb-2">本サービスの規約や法令に違反する行為に対応するため</li>
        <li class="mb-2">本サービスの変更、提供中止、終了、契約解除をご連絡するため</li>
        <li class="mb-2">本サービスの規約の変更等を通知するため</li>
        <li class="mb-2">以上の他、本サービスの提供、維持、保護及び改善のため</li>
      </ol>
    </div>

    <div class="h4 mt-4">第3条（第三者提供）</div>
    <div>
      <div class="mb-2">管理者は、ユーザーから取得する情報のうち、個人データ（個人情報保護法第２条第６項）に該当するものついては、あらかじめユーザーの同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。</div>
      <div class="mb-2">但し、次の場合は除きます。</div>
      <ol>
        <li class="mb-2">個人データの取扱いを外部に委託する場合</li>
        <li class="mb-2">当サービスが買収された場合</li>
        <li class="mb-2">事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）</li>
        <li class="mb-2">その他、法律によって合法的に第三者提供が許されている場合</li>
      </ol>
    </div>

    <div class="h4 mt-4">第4条（アクセス解析ツール）</div>
    <div class="mb-2">
      管理者は、ユーザーのアクセス解析のために、「Googleアナリティクス」を利用しています。Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用しています。トラフィックデータは匿名で収集されており、個人を特定するものではありません。Cookieを無効にすれば、これらの情報の収集を拒否することができます。詳しくはお使いのブラウザの設定をご確認ください。Googleアナリティクスについて、詳しくは以下からご確認ください。 https://marketingplatform.google.com/about/analytics/terms/jp/
    </div>

    <div class="h4 mt-4">第5条（プライバシーポリシーの変更）</div>
    <div>
      <ol>
        <li class="mb-2">本ポリシーの内容は，法令その他本ポリシーに別段の定めのある事項を除いて，ユーザーに通知することなく，変更することができるものとします。</li>
        <li class="mb-2">管理者が別途定める場合を除いて，変更後のプライバシーポリシーは，本ウェブサイトに掲載したときから効力を生じるものとします。</li>
      </ol>
    </div>

    <div class="h4 mt-4">第6条（お問い合わせ窓口）</div>
    <div class="mb-4">
      本ポリシーに関するお問い合わせは，お問い合わせフォームまでお願いいたします。
    </div>

    <div class="h5 mb-5">
      2022年8月1日制定
    </div>
  </div>
</div>
