<div class="container justify-content-center text-center">
  <div class="mt-5 mb-3">
    <div class="h2">使い方</div>
    <div class="row justify-content-center">
      <div class="col-10 border border-success">
      </div>
    </div>
  </div>
  
  <div class="bg-success p-2 pb-5" style="--bs-bg-opacity: .5;">
    <div class="mt-5">
      <div class="h4">イベントを作成する</div>
      <div><%= image_tag 'create_event.jpg', size: '240x400'%></div>
    </div>
    
    <div class="mt-5">
      <div class="h4">招待する</div>
      <div class="mb-2"><%= image_tag 'show_before.png', size: '240x400'%></div>
      <div>QRコード or LINEで招待できます</div>
    </div>

    <div class="mt-5">
      <div class="h4">ルームへ入室</div>
      <div class="mb-2"><%= image_tag 'show_after.png', size: '240x400'%></div>
      <div>参加者が集まったらルームに入室しよう！</div>
    </div>

    <div class="mt-5">
      <div class="h4">スタート</div>
      <div class="mb-2"><%= image_tag 'room.png', size: '240x400'%></div>
      <div>指定のモードの割り勘が始まるぞ！</div>
    </div>
  </div>
</div>
