label {
    display: block;
    width: 320px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    border: 0;
    box-shadow: none;
    color: #ffffff;
    font-size: 1rem;
    background-color: #00c2bc;
    cursor: pointer;
}

input {
    display: none;
}
