.background {
  background-image: image-url('warigam.PNG');
  height: 750px;
  background-size: cover;
  background-position: center center;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(212, 108, 228, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

// events#index
.no-event {
  padding-top: 50%;
}

.card-body {
  color: black;
}

.event-link {
  text-decoration: none;
}

.bg-event {
  background-color: #D3CEDF;
}


.outline {
  text-align:center;
}

.roulette {
  display: inline-block;
  border:1px solid #000000;
  font-size:30px;
  width:100px;
  height:100px;
  text-align: center;
  padding:25px 0;
}

.fs {
  font-size: 10px;
}

.fixed-top {
  padding-top: 5rem;
}

.box{
    padding: 0.5em 1em;
    background: rgb(15,36,0);
    background: linear-gradient(90deg, rgba(15,36,0,1) 0%, rgba(116,242,73,1) 0%, rgba(244,254,57,1) 100%);
}
